<h1>Hello <%= @name %> <%= link_to 'âž•', new_article_path %></h1>
<hr />
<ul style="max-width: 70vw;">
  <% @articles.each do |a| %>
  <% test_str = (a.commentsEnabled ? a.title : a.title + ' (comments disabled)') %>
  <dl style="margin-bottom: 10px">
    <dt style="margin-bottom: 10px">
      <a href="<%= article_path(a) %>">
        <%= test_str %>
      </a>
      <span style="float:right">
        <%= link_to 'ðŸ‘€', a %>
        <%= link_to 'âœï¸', edit_article_path(a) %>
        <%= link_to 'âš”ï¸', article_path(a), data: {
          turbo_method: :delete, # though my method is :destroy
          turbo_confirm: "ðŸ˜• shu sure?"
        } %>
      </span>
    </dt>
    <dd>
      <%= a.body %>
    </dd>
  </dl>
  <% end %>
</ul>
